Font

LayoutWorking/*/original
LayoutWorking/*/extracted
LayoutWorking/Oct_WeaponSelect

Map.pack/Map/*.szs

!Map.pack/Map/Fld_OctJetpack_OctMsn.szs
!Map.pack/Map/Fld_OctTamayoke_OctMsn.szs
!Map.pack/Map/Fld_OctVBallJumpmat_OctMsn.szs
!Map.pack/Map/Fld_OctKojima_OctMsn.szs
!Map.pack/Map/Fld_OctGhostBall_OctMsn.szs
!Map.pack/Map/Fld_OctForestBattle_OctMsn.szs
!Map.pack/Map/Fld_OctBoxRota_OctMsn.szs
!Map.pack/Map/Fld_OctDendenSnipe_OctMsn.szs
!Map.pack/Map/Fld_OctSpaceBall_OctMsn.szs

Message
!Message/CommonMsg_EUen.release.szs

MessageEdit/Unpack
!MessageEdit/Unpack/Octa_Fld_OctVBallJumpmat_OctMsn.msbt
!MessageEdit/Unpack/Octa_StageInfo.msbt
!MessageEdit/Unpack/Octa_Fld_OctBoxRota_OctMsn.msbt
!MessageEdit/Unpack/Octa_LineName.msbt

Mush.release.pack/Mush
!Mush.release.pack/Mush/Octa2DMapInfo.byml
!Mush.release.pack/Mush/Octa2DMapLinkInfo.byml
!Mush.release.pack/Mush/Octa2DMapLineInfo.byml

Param.pack

SoundWorking/

LevelNotes.txt
